<div class="container-fluid">
  <div class="span3 well">
    <center>
      <img src="https://secure.gravatar.com/avatar/37cc73e2fc00154a8e680aba8ea1cb60?s=140&r=g&d=mm" name="aboutme" width="140" height="140" border="0" class="img-circle">
      <h3>Iv&aacute;n Marb&aacute;n</h3>
      <small><cite title="Asturias, Spain">Asturias, Spain<i class="glyphicon glyphicon-map-marker"></i></cite></small>
      <p>
        <i class="glyphicon glyphicon-envelope"></i>ivanmarban@users.noreply.github.com
        <br />
        <i class="glyphicon glyphicon-globe"></i><a href="https://github.com/ivanmarban">https://github.com/ivanmarban</a>
        <br />
        <i class="glyphicon glyphicon-gift"></i>July 26, 1928
      </p>
    </center>
  </div>
</div>
