<label class="control-label">Username:</label>
<input type="text" id="username" class="form-control" name="user[username]" value="<%= user.username %>"/>
<label class="control-label">Password:</label>
<input type="password" id="pass" class="form-control" name="user[password]"/>
<br/>
<p>
  <a class="btn btn-sm btn-primary" href="/" role="button">Cancel</a>
  <input class="btn btn-sm btn-primary" type="submit" value="Submit">
</p>
