<div class="jumbotron">
	<h3>Login</h3>
	<form method="post" action="/login">
		<label class="control-label">Username:</label>
		<input type="text" id="login" class="form-control" name="login"/>
		<label class="control-label">Password:</label>
		<input type="password" id="password" name="password" class="form-control"/>
		<br/>
		<p>
		<a class="btn btn-sm btn-primary" href="/" role="button">Cancel</a>
		<input class="btn btn-sm btn-primary" type="submit" value="Submit">
		</p>
	</form>
</div>
